body{
	background-color:#9c9f84;
    margin:0px;
    font-family:Verdana, Georgia, serif;
    font-size:14px;
	
}
#header{
	background-color:#5c755e;
	margin:10px;
	height:120px;
	border-radius:10px;
}

#navbar{
	background-color:#5c755e;
	margin:10px;
	height:40px;
	line-height:40px;
	border-radius:10px;
	color:white;
}
#navbar li{
	list-style:none;
	display:inline;
	float:left;
}
#navbar li a{
	text-decoration:none;
	color:white;
	padding:8px;
	margin:5px;
    font-size:18px;
	font-family:COMIC SANS MS;
}
#navbar li a:hover{
	color:black;
	font-weight:bolder;
}
#main{
	background-color:e5e4d7;
	margin:10px;
	border-radius:10px;
	height:650px;
	padding:20px;

}
#form{
	float:right;
	padding-right:8px;
}

#footer{
	width:1000px;
	height:100px;
	background:gray;
	clear:both;
}
	
h1{
	font-size:300%;
	text-align:center;
	color:#e5e4d7;
	font-family:sans serif;
	margin:0px;
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
#cats{
	text-align:left;
}
#cats li{
	list-style:none;
	margin;5px;
}
#cats a{
	color:orange;
	padding:8px;
	margin:5px;
	text-align:left;
	font-size:16px;
	text-decoration:none;
	font-family:COMIC SANS MS;
}
#cats a:hover{
	color:white;
	font-weight:bolder;
	text-decoration:underline;
}


#parathas_box{
	width:780px;
	text-align:center;
	margin-left:700px;
	margin-bottom:110px;
	
	
}
#sidebar{
	
width:200px;	
background:black;
float:right;

}
#sidebar_title{	
background:white;
color:black;
font-size:22px;
font-family:arial;
padding:10px;


}	
	
	
	
	
}
#single_product{
	float:left;
	margin-left:20px;
	padding:10px;
	
}
#single_product img{
border:2px
solid black;	
}
h2{
	float:left;
	
	
	
}
#link{
	float:left;
}
#yo{
	float:left;
}